h1, h2{
  text-align: center;
}
body{
  background-image: url("https://images.pexels.com/photos/416676/pexels-photo-416676.jpeg?cs=srgb&dl=sea-person-beach-416676.jpg&fm=jpg");
  color: grey;
  font-family: 'Roboto','Notable';
}